@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" 
           data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
            @{
                var user = await UserManager.GetUserAsync(User);
                var displayName = user?.FullName ?? User.Identity?.Name;
            }
            @displayName
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            @if (User.IsInRole("Administrator"))
            {
                <li>
                    <span class="dropdown-item-text">
                        <span class="badge bg-primary">Administrator</span>
                    </span>
                </li>
                <li><hr class="dropdown-divider"></li>
            }
            else if (User.IsInRole("Judge"))
            {
                <li>
                    <span class="dropdown-item-text">
                        <span class="badge bg-info">Judge</span>
                    </span>
                </li>
                <li><hr class="dropdown-divider"></li>
            }
            else if (User.IsInRole("Scorekeeper"))
            {
                <li>
                    <span class="dropdown-item-text">
                        <span class="badge bg-secondary">Scorekeeper</span>
                    </span>
                </li>
                <li><hr class="dropdown-divider"></li>
            }
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" 
                      asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="dropdown-item">
                        <i class="bi bi-box-arrow-right"></i> Sign Out
                    </button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
            <i class="bi bi-google"></i> Sign in with Google
        </a>
    </li>
}
</ul>

<style>
    .dropdown-item-text .badge {
        width: 100%;
        padding: 0.5rem;
    }
</style>
